{
  "extends": ["stylelint-config-standard-scss"],
  "rules": {
    "selector-pseudo-class-no-unknown": [true, {"ignorePseudoClasses": ["global"]}],
    "selector-class-pattern": ["^[a-z][a-zA-Z0-9]*$", {"message": "Expected camelCase class name"}],
    "keyframes-name-pattern": ["^[a-z][a-zA-Z0-9]*$", {"message": "Expected camelCase keyframe name"}],
    "comment-empty-line-before": null,
    "declaration-no-important": true
  }
}
